
.dropdown h4{  
text-align: center;
text-transform: uppercase;
 color:black;
margin:auto;
border-radius: 4px;
font-size: x-large;
background-color: black;
}
 ul li {
  font-size: 21px;
  background-color: #04033f;
  border-radius: 5px;
  padding: 5px 5px;
  list-style: none;
}
 .p-description{
  font-size: 19px;
  letter-spacing: 0.4px;
}

.dropdown-content{
  display: none;
}